/* Skills list actions links align to inline and center */
.skill-course-actions.skill-actions a,
#tool_skills_list .skill-item-actions a {
    display: inline-block;
    vertical-align: middle;
}
/* Make the skills tab marning top */
body#page-admin-tool-skills-manage-list .nav-tabs {
    margin-top: 30px;
}

/* Filter form in table */
.path-admin-tool-skills-manage .box.generalbox {
    position: relative;
}
.path-admin-tool-skills-manage .filter-form-container {
    float: right;
}
.path-admin-tool-skills-manage .filter-form-container #tool-skills-filter i.icon {
    margin-right: 0;
}
.path-admin-tool-skills-manage .filter-form-container #tool-skills-filterform {
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 0 0.1px;
    padding: 15px;
    position: absolute;
    top: 80%;
    right: 0;
    z-index: 2;
}
.path-admin-tool-skills-manage .filter-form-container #tool-skills-filterform form .form-group {
    margin-left: 0;
}
.path-admin-tool-skills-manage .filter-form-container #tool-skills-filterform form .form-group .col-form-label {
    padding-left: 0;
}
/* E.O Filter form in table */

/* Behat issue fix for auto instance */
body.behat-site .toolskills-status-switch input.custom-control-input {
    position: relative;
    z-index: -1;
}

#page-admin-tool-skills-manage-usersreport .table-dynamic {
    padding-top: 40px;
}

#page-user-profile li.contentnode.toolskill-courses-points {
    padding-top: 20px;
}
